/* 
SkyPage
---------- TYPOGRAPHY ----------
FONT-SIZES:
12px / 16px / 20px / 24px / 32px / 48px / 64px

LINE-HEIGHTS:   
1.2 / 1.5

LETTER-SPACING:
0 / -2PX

FONT-FMILY
'Poppins'


---------- COLOURS ----------
PRIMARY 
Base: #00AEEF (Sky Blue)
Tint: #B3EFFF (Soft Sky)
Shade: #007BA7 (Deep Sky)

SECONDARY
Base: #283593 (Deep Indigo)
Tint: #9FA8DA (Lavender Mist)
Shade: #1A237E (Night Indigo)

TERTIARY
Base: #FFD54F (Soft Yellow)
Tint: #FFF8E1 (Cream Mist)
Shade: #FBC02D (Golden Amber)

GREY
Base: #495057 (Slate)
Tint: #F1F3F5 (Pebble)
Shade: #212529 (Graphite)


*/




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-base: #00AEEF;
    --primary-tint: #B3EFFF;
    --primary-shade: #007BA7;

    --secondary-base: #283593;
    --secondary-tint: #9FA8DA;
    --secondary-shade: #1A237E;

    --tertiary-base: #FFD54F;
    --tertiary-tint: #FFF8E1;
    --tertiary-shade: #FBC02D;

    --grey-base: #495057;
    --grey-tint: #F1F3F5;
    --grey-shade: #212529;

    font-family: "Quicksand", sans-serif;
}

/* google fonts */

.quicksand-font {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* shared class start*/
.section-width{
    max-width: 1140px;
    margin: 0 auto;
}
.btn-primary{
    background-color: var(--primary-base);
    color: var(--grey-tint);
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}
.btn-primary:hover {
  background-color: var(--primary-shade);
}
/* shared class end */


body{
    max-width: 1440px;
    margin: 0 auto;
    
}
.header{
    background-image: url('../Assets/Hero-bg.png');
    min-height: 698px;
}
.logo{
    font-size: 20px;
}
nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}
nav ul li {
    padding: 40px 20px;
}
nav ul li:first-child{
    margin-right: auto;
}
nav li a{
    font-size: 16px;
    font-weight: 700;
    color: var(--grey-base);
    text-decoration: none;
}
.header-content h1{
    font-size: 64px;
    text-align: center;
    color: var(--grey-shade);
}
.header-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    min-height: 500px;
}




